<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <h1 class="h1">About info</h1>
    <p class="text_18"><b>Branch: </b> {{ aboutInfo?.branch }}<br></p>
    <p class="text_18"><b>Build Time: </b> {{ aboutInfo?.buildTime }}<br></p>
    <p class="text_18"><b>Commit ID: </b> {{ aboutInfo?.commitId }}<br></p>
    <p class="text_18"><b>Commit ID Description: </b> {{ aboutInfo?.commitIdDescribe }}<br></p>
    <p class="text_18"><b>POM Version: </b> {{ aboutInfo?.pomVersion }}<br></p>
    <p class="text_18"><b>Spring Profile: </b> {{ aboutInfo?.springProfile }}<br></p>
  </mat-card-content>
</mat-card>
