@use '@angular/material' as mat;
@include mat.core();

 /* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e1e7ec,
    100 : #b5c3d0,
    200 : #839bb1,
    300 : #517392,
    400 : #2c557a,
    500 : #073763,
    600 : #06315b,
    700 : #052a51,
    800 : #042347,
    900 : #021635,
    A100 : #6aa84f,
    A200 : #3a73ff,
    A400 : #074fff,
    A700 : #0044ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

