<h1>Nuvalaw</h1>
<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <h1 class="h1"><span class="green">Take control</span> of your claims resolution process</h1>
      <p class="text_18">Whether you’re an insurer, claimant representative, or third party administrator, Nuvalaw puts you back in the driver’s seat, helping you resolve claims quickly and affordably. No waiting for a court date. No unnecessary costs or delays.<br></p>
    </mat-card-content>
  </mat-card>
  <!-- <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    </mat-card-content>
  </mat-card> -->
